<div class="container">
  <div class="error">
    <div id="userNotFound" *ngIf="userNotFound"><h3 style="color: rosybrown">user with ID: {{ userId }} not found</h3></div>
  </div>
  <b *ngIf="!user">loading...</b>
  <div class="user_profile" *ngIf="user">
    <h2>{{ user.name }} User Profile</h2>
    <span id="name"><b>name: </b>{{ user.name }}</span><br>
    <span id="username"><b>username: </b>{{ user.username }}</span><br>
    <span id="email"><b>email: </b>{{ user.email }}</span><br>
    <span id="phone"><b>phone: </b>{{ user.phone }}</span><br>
    <span id="website"><b>website: </b>{{ user.website }}</span><br>
    <span id="address"><b>address: </b></span><br>
    <ul>
      <li><span id="street"><b>street: </b>{{ user.address.street }}</span></li>
      <li><span id="suite"><b>suite: </b>{{ user.address.suite }}</span></li>
      <li><span id="city"><b>city: </b>{{ user.address.city }}</span></li>
      <li><span id="zipcode"><b>zipcode: </b>{{ user.address.zipcode }}</span></li>
    </ul>
    <b>Geolocation:</b>
    <div>
      lat: {{ user.address.geo.lat }}<br>
      lng: {{ user.address.geo.lng }}<br>
    </div>

    <span id="company"><b>company: </b></span><br>
    <ul>
      <li><span id="company_name"><b>company_name: </b>{{ user.company.name }}</span></li>
      <li><span id="company_catchPhrase"><b>catchPhrase: </b>{{ user.company.catchPhrase }}</span></li>
      <li><span id="company_bs"><b>bs: </b>{{ user.company.bs }}</span></li>
    </ul>
  </div>
</div>

