<div class="container">
  <h2>[John Wick] User Profile</h2>
  <span id="name"><b>name: </b>[John Wick]</span><br>
  <span id="username"><b>username: </b>[userJohnWick]</span><br>
  <span id="email"><b>email: </b>[user@domain.com]</span><br>
  <span id="address"><b>address: </b></span><br>
  <ul>
    <li>
      <span id="street"><b>street: </b>[Victor Plains]</span>
      <span id="suite"><b>suite: </b>[Suite 879]</span>
      <span id="city"><b>city: </b>[Wisokyburgh]</span>
      <span id="zipcode"><b>zipcode: </b>[90566-7771]</span>
    </li>
  </ul>
  <b>Geolocation:</b>
  <div>
    lat: [-43.9509]<br>
    lng: [-43.9509]<br>
  </div>
</div>
